:root {
    --tray-item-font-size: 1rem;
    --tray-item-font-weight: 700;
}

.TrayItem {
    font-size: var(--tray-item-font-size);
    font-weight: var(--tray-item-font-weight);
    border-radius: 1rem;
    padding: .5rem;
    color: #000000;
    background-color: rgba(245, 255, 250, 1);
    border: solid medium rgba(245, 255, 250, 1);
    margin: .25rem 0 .25rem 0;
    transition: all .4s;
    text-decoration: none;
    flex-shrink: 1;
}

.TrayItem:hover {
    transform: translateY(-5px);
    /* box-shadow: 1px 3px 1px 1px black; */
    background-color: rgba(119, 136, 153, 0.781);
}

/* .TrayItem:hover:not(.active) {
    

} */

.active {
    color: red;
}

@media (min-width: 420px) {
    .TrayItem {
        font-size: calc(var(--tray-item-font-size) * 1.2);
        margin: .5rem;
    }
}

@media (min-width: 500px) {
    .TrayItem {
        font-size: calc(var(--tray-item-font-size) * 1.3);
        margin: 1rem;
    }
}

@media (min-width: 600px) {
    .TrayItem {
        font-size: calc(var(--tray-item-font-size) * 1.5);
        margin-bottom: 1.5rem;
        background-color: transparent;
    }
    .TrayItem.active {
        background-color: lightslategrey;
        color: red;
    }
}